.chatbox-container {
  border: 1px solid #000;
  width: 300px;
  position: fixed;
  bottom: 0;
  right: 50px;
}

.chatbox_lower-container {
  height: 0;
  transition: 1500ms cubic-bezier(0,1.56,.86,-0.7);
}

.chatbox_lower-container__open {
  height: 200px;
}

.chatbox_header {
  background: blue;
  color: white;
  display: flex;
  padding: 5px;
  justify-content: space-around;
}

.chatbox_convo-area {
  display: flex;
  flex-direction: column;
}

/* styles for both chat bubbles */
.chatbox_convo_bubble {
  max-width: 150px;
  border-radius: 6px;
  padding: 10px;
  margin: 10px;
}

/* other persons box */
.chatbox_convo_bubble__other {
  background: gray;
  align-self: flex-start;
}

/* your box */
.chatbox_convo_bubble__you {
  background: blue;
  color: white;
  align-self: flex-end;
}

.chatbox_input {
  width: 70%;
}

.chatbox_send-btn {
  width: 20%;
}
